:root {
  --text-white: rgba(255, 255, 255, 1);
  --text-primary: rgba(51, 51, 51, 1);
  --main-03b2a5: rgba(3, 178, 165, 1);
  --neutralsn-66: rgba(162, 167, 177, 1);
  --primeryb-10: rgba(1, 22, 50, 1);
  --main-button: rgba(3, 178, 165, 1);
  --blueb-95: rgba(230, 240, 253, 1);
  --statusyellowewhite: rgba(254, 250, 236, 1);
  --statusorangewhite: rgba(255, 243, 235, 1);
  --primary-400: rgba(53, 179, 169, 1);
  --button-1: rgba(22, 200, 187, 1);
  --blueb-80: rgba(243, 247, 254, 1);
  --bg-white: rgba(255, 255, 255, 1);
  --h1-48-56-font-family: "Montserrat", Helvetica;
  --h1-48-56-font-weight: 700;
  --h1-48-56-font-size: 48px;
  --h1-48-56-letter-spacing: 0px;
  --h1-48-56-line-height: 56px;
  --h1-48-56-font-style: normal;
  --h3-24-32-font-family: "Montserrat", Helvetica;
  --h3-24-32-font-weight: 700;
  --h3-24-32-font-size: 24px;
  --h3-24-32-letter-spacing: 0px;
  --h3-24-32-line-height: 32px;
  --h3-24-32-font-style: normal;
  --h5-bold-16-24-font-family: "Montserrat", Helvetica;
  --h5-bold-16-24-font-weight: 700;
  --h5-bold-16-24-font-size: 16px;
  --h5-bold-16-24-letter-spacing: 0px;
  --h5-bold-16-24-line-height: 24px;
  --h5-bold-16-24-font-style: normal;
  --xl-text-3-font-family: "Montserrat", Helvetica;
  --xl-text-3-font-weight: 400;
  --xl-text-3-font-size: 14px;
  --xl-text-3-letter-spacing: 0.25px;
  --xl-text-3-line-height: 129.99999523162842%;
  --xl-text-3-font-style: normal;
  --xl-link1-medium-font-family: "Montserrat", Helvetica;
  --xl-link1-medium-font-weight: 500;
  --xl-link1-medium-font-size: 14px;
  --xl-link1-medium-letter-spacing: 0.25px;
  --xl-link1-medium-line-height: 113.99999856948853%;
  --xl-link1-medium-font-style: normal;
  --desktop-button2-font-family: "Montserrat", Helvetica;
  --desktop-button2-font-weight: 700;
  --desktop-button2-font-size: 16px;
  --desktop-button2-letter-spacing: 0px;
  --desktop-button2-line-height: normal;
  --desktop-button2-font-style: normal;
  --text-2-14-20-font-family: "Montserrat", Helvetica;
  --text-2-14-20-font-weight: 400;
  --text-2-14-20-font-size: 14px;
  --text-2-14-20-letter-spacing: 0px;
  --text-2-14-20-line-height: 20px;
  --text-2-14-20-font-style: normal;
  --web-text-bold-16-24-font-family: "Montserrat", Helvetica;
  --web-text-bold-16-24-font-weight: 700;
  --web-text-bold-16-24-font-size: 16px;
  --web-text-bold-16-24-letter-spacing: 0px;
  --web-text-bold-16-24-line-height: 24px;
  --web-text-bold-16-24-font-style: normal;
  --h4-18-26-font-family: "Montserrat", Helvetica;
  --h4-18-26-font-weight: 700;
  --h4-18-26-font-size: 18px;
  --h4-18-26-letter-spacing: 0px;
  --h4-18-26-line-height: 26px;
  --h4-18-26-font-style: normal;
  --LK-web-14-20-body-font-family: "Open Sans", Helvetica;
  --LK-web-14-20-body-font-weight: 400;
  --LK-web-14-20-body-font-size: 14px;
  --LK-web-14-20-body-letter-spacing: 0px;
  --LK-web-14-20-body-line-height: 20px;
  --LK-web-14-20-body-font-style: normal;
  --h2-32-40-font-family: "Montserrat", Helvetica;
  --h2-32-40-font-weight: 700;
  --h2-32-40-font-size: 32px;
  --h2-32-40-letter-spacing: 0px;
  --h2-32-40-line-height: 40px;
  --h2-32-40-font-style: normal;
  --text-18-26-font-family: "Montserrat", Helvetica;
  --text-18-26-font-weight: 400;
  --text-18-26-font-size: 18px;
  --text-18-26-letter-spacing: 0px;
  --text-18-26-line-height: 26px;
  --text-18-26-font-style: normal;
  --xl-button-font-family: "Montserrat", Helvetica;
  --xl-button-font-weight: 700;
  --xl-button-font-size: 16px;
  --xl-button-letter-spacing: 0px;
  --xl-button-line-height: normal;
  --xl-button-font-style: normal;
}
